<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-NFCXDLF');</script>
<section id="management">
    <div class="title">
        <h3>Associate, Investment & Integration</h3>
    </div>
    <div class="text">

        <p class="title">About the role:</p>
        <p>The I&I Associate will support the team in evaluating new acquisition
            opportunities, leading due diligence processes and overseeing the integration of new acquisitions
            into the unybrands ecosystem. The associate will work as part of the US Investments and
            Integration team and will report to the Director. This is a great opportunity to join a world-class
            team at the forefront of an emerging industry in e-commerce. The role marries the analytical rigor of
            an investment role with the fast-paced dynamics of a start-up environment. You will be able to quickly grow
            into a leading member of the I&I team and help shape the future of unybrands and the future of the
            D2C consumer brands industry.</p>

    </div>
</section>
<div class="role">
    <section id="role">
        <div class="row">
            <div class="title">
                <h3>Responsibilities include-but not limited to:
                </h3>
            </div>
            <div class="text">
                <ul>
                    <li>As an Associate on the I&I team, you will contribute to the sourcing, evaluation and execution
                        of investment opportunities
                    </li>
                    <li>You will be responsible for the research, valuation and diligence execution as well as helping
                        the production of supporting materials for the investment committee</li>
                    <li>You will also help develop growth strategies for the brands, prepare a seamless integration into the unybrands ecosystem and monitor brand performance post-acquisition</li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="title">
                <h3>A successful team member will have:  </h3>
            </div>
            <div class="text">
                <ul>
                    <li>2 years of full-time working experience in investment banking, private equity or
                        management consulting</li>
                    <li>Experience in consulting or evaluating e-commerce companies is a plus
                    </li>
                    <li>Ability to take responsibility on multiple work streams and a hands-on mentality</li>
                </ul>
                <p>unybrands is an equal opportunity employer and considers all applicants for employment without
                   any regard to race, skin color, religion, gender identity, sexual orientation, and age. Nor are applicants
                   discriminated against on the basis of disability or protected classes.</p>
            </div>
        </div>
    </section>
</div>
<section id="management-about">
    <div class="title">
        <h3>About unybrands:</h3>
    </div>
    <div class="text">
        <div class="line-t">
            <p>Founded in 2020, unybrands provides a best-in-class experience to sellers looking to exit their Amazon FBA, Shopify DTC or WMT e-commerce business.</p>
            <p>We are on a mission to shape the next generation of e-commerce. We do this by buying, building and scaling brands operating on and off Amazon: With us, companies reach new heights—and stay at the very top of their game. It’s our deep experience in online retail, consumer goods and M&A that enables us to do so—it has also led renowned growth and VC investors as well as European family offices to back us. We operate globally with offices in Miami, Seattle, Berlin and London.
            </p>
        </div>
        <a href="mailto:ii@unybrands.com?subject=Career">apply now <img src="/images/arrow-blue.svg" alt=""></a>
    </div>
</section>
<!--<section id="career">-->
<!--    <div class="title">-->
<!--        <h2>Join our team</h2>-->
<!--    </div>-->
<!--    <div class="text">-->
<!--        <p>Our approach is always honest, efficient and collaborative. We envision your brand to grow as fast and sustainably as possible—fairness and integrity are the guiding principles behind everything we do, including our transactions.</p>-->
<!--    </div>-->
<!--</section>-->
