<footer>
    <div class="footer-b">
        <div class="top-footer">
            <div>
                <a href="/"><img src="/images/logo-white.svg" alt="unybrands-logo"></a>
            </div>
            <ul class="links">
                <li><a href="/about/">About us</a></li>
                <li><a href="/team/">OUR TEAM</a>
<!--                    <ul class="sub-menu">-->
<!--                        <li><a href="/team/">Management team</a></li>-->
<!--                        <li><a href="/career/">Career</a></li>-->
<!--                        &lt;!&ndash;              <li><a href="/article1/">BLOG</a></li>&ndash;&gt;-->
<!--                        &lt;!&ndash;              <li><a href="">PODCSTS</a></li>&ndash;&gt;-->
<!--                    </ul>-->
                </li>
                <li><a href="/sell-to-us/">How We Work</a></li>
                <li>
                    <a href="/article1/">Resources</a>
<!--                    <ul class="sub-menu">-->
<!--                        <li><a href="/article1/">PRESS</a></li>-->
<!--                        &lt;!&ndash;              <li><a href="">PODCSTS</a></li>&ndash;&gt;-->
<!--                    </ul>-->
                </li>
                <li><a href="/contact-us/">Contact us</a></li>
            </ul>
        </div>
        <div class="second">
            <div class="sec">
                <a class="offices" href="#">Offices</a>
            </div>
            <div class="contacts">
                <p>429 Lenox Ave, Miami Beach FL, 33139</p>
                <p>22 CHANCERY LANE, LONDON WC2A 1LS, UNITED KINGDOM</p>
                <p>KEMPERPLATZ 1, 10785 BERLIN, GERMANY</p>
                <a class="footer-mob-contact" href="/contact-us/">Contact us</a>
                <p><a href="mailto:intro@unybrands.com">intro@unybrands.com</a></p>
                <p><a href="https://www.linkedin.com/company/unybrands/"><img src="/images/linkedin.png" alt="">linkedin</a></p>
            </div>
        </div>
        <div class="mail-form">
            <form id="xhr-form-footer">
                <div class="form-input">
                    <div class="information">
                        <div class="one-input name">
                            <label><input type="email" required>subscribe for updates</label>
                        </div>
                    </div>
                    <div id="submit">
                        <input class="submit-btn" type="button">
                        <img src="/images/arrow-blue.svg" alt="arrow">
                    </div>
                </div>
                <div>
                    <span class="result"></span>
                    <div class="error-form"><span class="text"></span></div>
                </div>
            </form>
            <div class="last">
                <p>All rights reserved @ 2021</p>
            </div>
        </div>
    </div>
</footer>
