<head>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NFCXDLF" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand">
<!--  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">-->
  <meta name="theme-color" content="#ffffff">
  <link rel="icon" href="/favicon.svg">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="mask-icon" href="/favicon.svg" color="#000000">
  <link rel="apple-touch-icon" href="/favicon.png">
  <link rel="manifest" href="/manifest.json">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans" rel="stylesheet">
  <title>
    {{ if eq  .URL  "/" }}Amazon businesses to sell{{ end }}
    {{ if eq  .URL  "/about/" }}FBA acquisitions{{ end }}
    {{ if eq  .URL  "/team/" }}Selling an amazon business{{ end }}
    {{ if eq  .URL  "/sell-to-us/" }}Amazon business solutions{{ end }}
    {{ if eq  .URL  "/article1/" }}Getting acquired{{ end }}
    {{ if eq  .URL  "/application/" }}Exiting e-commerce business{{ end }}
  </title>
  <meta name="description" content="We buy, build and boost FBA and DTC e-commerce brands" />
<!--  {{ if eq  .URL  "/" }}-->
<!--  <meta name="description" content="We are your beast buyer, We are serial acquirers of e-commerce, FBA and DTC stores" />-->
<!--  {{ end }}-->
<!--  {{ if eq  .URL  "/about/" }}-->
<!--  <meta name="description" content="Amazon FBA, Shopify DTC, WMT e-commerce, Amazon FBA business for sale" />-->
<!--  {{ end }}-->
<!--  {{ if eq  .URL  "/team/" }}-->
<!--  <meta name="description" content="Selling an e-commerce business, Sell my company" />-->
<!--  {{ end }}-->
<!--  {{ if eq  .URL  "/sell-to-us/" }}-->
<!--  <meta name="description" content="Amazon FBA sales, We buy, build and boost business" />-->
<!--  {{ end }}-->
<!--  {{ if eq  .URL  "/article1/" }}-->
<!--  <meta name="description" content="A UNIQUE platform for successful amazon FBA and DTC sellers, Platform to acquire & maximize growth potential for online brands" />-->
<!--  {{ end }}-->
<!--  {{ if eq  .URL  "/application/" }}-->
<!--  <meta name="description" content="Amazon FBA buyers, Amazon FBA business for sale" />-->
<!--  {{ end }}-->
  <link href="/css/bundle.8da59ab19884d4ceacc7.css" rel="stylesheet">
  <link href="/css/fonts.css" rel="stylesheet">
</head>

