<header>
  <div class="top-header">
    <div class="top-head">
      <div class="logo">
        <a href="/"><img src="/images/g10.svg" alt="unybrands-logo"></a>
      </div>
      <div class="links">
        <ul class="main-menu">
          <li><a href="/about/">About us</a></li>
          <li><a href="/team/">OUR TEAM</a>
            <ul class="sub-menu">
              <li><a href="/team/">Management team</a></li>
              <li><a href="/career/">Career</a></li>
              <!--              <li><a href="/article1/">BLOG</a></li>-->
              <!--              <li><a href="">PODCSTS</a></li>-->
            </ul>
          </li>
          <li><a href="/sell-to-us/">How We Work</a></li>
          <li>
            <a href="/article1/">Resources</a>
            <ul class="sub-menu">
              <li><a href="/article1/">PRESS</a></li>
<!--              <li><a href="/article1/">BLOG</a></li>-->
<!--              <li><a href="">PODCSTS</a></li>-->
            </ul>
          </li>
          <a class="button" href="/application/">Ready to Sell?<span> <img src="/images/Arrownew-1.svg" alt="arrow-white"> </span></a>
        </ul>
<!--        {{ range .Site.Menus.main }}-->
<!--        <a href="{{ .URL }}">{{ .Name }}</a>-->
<!--        &lt;!&ndash;      <a href="#">Team</a>&ndash;&gt;-->
<!--        &lt;!&ndash;      <a href="#">Press</a>&ndash;&gt;-->
<!--        &lt;!&ndash;      <a href="#">FAQ</a>&ndash;&gt;-->
<!--        &lt;!&ndash;      <a href="#">Contacts</a>&ndash;&gt;-->
<!--        {{ end }}-->
<!--        <a class="button" href="/application/">Ready to Sell?<span> <img src="/images/arrow-white.png" alt="arrow-white"> </span> </a>-->
      </div>
      <div class="button-btn">
        <button type="check" class="menu-btn">
          <span class="">
          </span>
        </button>
      </div>
    </div>
  </div>
</header>



