<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-NFCXDLF');</script>
<section id="management">
    <div class="title">
        <h3>Manager, Growth</h3>
    </div>
    <div class="text">
        <p class="title">about the role:</p>
        <p>With the goal of expanding the unybrands brand portfolio, the Manager, Growth will be responsible for helping source new acquisition opportunities. The role will report directly to the Senior Director of Growth and will be responsible for building relationships with brokers and sourcing new acquisition opportunities, all while helping to grow and manage existing brands. unybrands is looking for a tenacious, ambitious team member who thinks outside of the box, works creatively and strategically to ensure all growth goals are not only achieved but surpassed.</p>
    </div>
</section>
<div class="role">
    <section id="role">
        <div class="row">
            <div class="title">
                <h3>Responsibilities include-but not limited to:</h3>
            </div>
            <div class="text">
                <ul>
                    <li>Create and identify opportunities to grow the unybrands
                        portfolio of brands
                    </li>
                    <li>Help develop and execute a growth strategy involving but not limited to building relationships with brokers, individual cold outreach
                        and pipeline development</li>
                    <li>Attend conferences for Amazon sellers and build unybrands’ presence in the seller community</li>
                    <li>Manage a pipeline and deal from conception to closed-won</li>
                    <li>Work cross-functionally with members of the I&I team</li>
                    <li>Provide regular updates to leadership on sourcing efforts, market updates and individual growth strategies</li>
                    <li>Create new out-of-the-box ideas on how to develop pipeline</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="title">
                <h3>A successful team member will have:  </h3>
            </div>
            <div class="text">
                <ul>
                    <li>4+ years of e-commerce / SaaS sales experience</li>
                    <li>Background in finance-Investment banking and/or M&A is a plus</li>
                    <li>Ability to use SFDC, Looker and other reporting tools</li>
                    <li>Experience in running a full-cycle deal flow</li>
                </ul>
                <p>unybrands is an equal opportunity employer and considers all applicants for employment without any regard to race, skin color, religion, gender identity, sexual orientation, and age. Nor are applicants discriminated against on the basis of disability or protected classes.
                </p>
            </div>
        </div>
    </section>
</div>
<section id="management-about">
    <div class="title">
        <h3>About unybrands:</h3>
    </div>
    <div class="text">
        <div class="line-t">
            <p>Founded in 2020, unybrands provides a best-in-class experience to sellers looking to exit their Amazon FBA, Shopify DTC or WMT e-commerce business.</p>
            <p>We are on a mission to shape the next generation of e-commerce. We do this by buying, building, and scaling brands operating on and off Amazon: With us, companies reach new heights—and stay at the very top of their game. It’s our deep experience in online retail, consumer goods and M&A that enables us to do so—it has also led renowned growth and VC investors as well as European family offices to back us. We operate globally with offices in Miami, Seattle, Berlin and London.
            </p>
        </div>
        <a href="mailto:growth@unybrands.com?subject=Career">apply now <img src="/images/arrow-blue.svg" alt=""></a>
    </div>
</section>
<!--<section id="career">-->
<!--    <div class="title">-->
<!--        <h2>Join our team</h2>-->
<!--    </div>-->
<!--    <div class="text">-->
<!--        <p>Our approach is always honest, efficient and collaborative. We envision your brand to grow as fast and sustainably as possible—fairness and integrity are the guiding principles behind everything we do, including our transactions.</p>-->
<!--    </div>-->
<!--</section>-->
