<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-NFCXDLF');</script>
<section id="podcasts">
    <h1 id="title-page">
        Podcasts
    </h1>
    <div class="articles">
        <div class="one-row">
            <div class="date">
                <p class="number">15</p>
                <p>apr 2020</p>
            </div>
            <div class="info">
                <p class="title">2 Black Girls, 1 Rose</p>
                <p>Bachelor and Bachelorette superfans Natasha Scott and Justine Kay aren’t afraid to call out the sexist and racist blunders of the often-problematic show on their podcast, 2 Black Girls, 1 Rose. </p>
            </div>
            <div class="img">
                <img src="/images/image-small.png" alt="">
            </div>
        </div>
        <div class="one-row">
            <div class="date">
                <p class="number">11</p>
                <p>apr 2020</p>
            </div>
            <div class="info">
                <p class="title">American Fiasco</p>
                <p>Men in Blazers co-host Roger Bennett revisits the U.S. Men’s Soccer team’s catastrophic bid for the 1998 World Cup. Bennett, a British transplant who became obsessed with American soccer, brings a sense of irreverence to the travesty. </p>
            </div>
            <div class="img">
                <img src="src/assets/img/image-small.png" alt="">
            </div>
        </div>
        <div class="one-row">
            <div class="date">
                <p class="number">08</p>
                <p>apr 2020</p>
            </div>
            <div class="info">
                <p class="title">The Argument</p>
                <p>The Trump era has ushered in a host of excellent political podcasts, including an entire network dedicated to the #resistance.</p>
            </div>
            <div class="img">
                <img src="src/assets/img/image-small.png" alt="">
            </div>
        </div>
        <div class="one-row">
            <div class="date">
                <p class="number">03</p>
                <p>apr 2020</p>
            </div>
            <div class="info">
                <p class="title">Believed</p>
                <p>A number of questions lingered even after a judge sentenced Larry Nassar, the former USA Gymnastics and Michigan State University doctor, to 40 to 175 years in prison for sexual abuse.</p>
            </div>
            <div class="img">
                <img src="src/assets/img/image-small.png" alt="">
            </div>
        </div>
    </div>
</section>
